# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Superspective.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Josh-PC\Documents\GitHub\Superspective\.idea\.idea.Superspective\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
